.header-image {
	background-image: url("img/header_image.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 500px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
body {
	background-color: #333;
	text-decoration: none;
	color: white;
}
h1{
	margin: 0.5em;
	font-size: 2em;
	font-family: arial;
	text-align: center;
}
h2 {
	margin: 0.5em;
	font-size: 1.5em;
	font-family: arial;
}
figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 16%;
	border: 1px solid black;
}
footer {
	background-color: #333;
	padding: 0.1em;
	clear: both;
}
footer p {
	color: white;
	text-align: center;
	margin: 0.5em;
}

